/* size-xl */
@media (min-width: 1200px) {
    h2.headertitle {
        font-size: 1.78571429em;
        font-weight: 600;
    }

p.footercompany {
    font-size: 1.2rem;
    font-weight: 500;
}

    .circular--portrait {
        position: relative;
        width: 250px !important;
        height: auto !important;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--portrait img {
        width: 100%;
        height: 250px !important;
    }

    #mainMenu nav>ul>li .dropdown-menu>li>a,
    #mainMenu nav>ul>li .dropdown-menu>li>span,
    #mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a {}

    /* CSS */
    .button-new {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #045242;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-new:hover {
        background-color: #045242;
        border-color: #045242;
        color: #FFFFFF !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-new:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-service {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #fff;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #045242;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-service:hover {
        background-color: #045242;
        border-color: #045242;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-service:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-contact {
        appearance: none;
        background-color: #006fd6;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-contact:hover {
        background-color: #006fd6;
        border-color: #006fd6;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-contact:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-contact {
        appearance: none;
        background-color: #006fd6;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-contact:hover {
        background-color: #006fd6;
        border-color: #006fd6;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-contact:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }


    .post-item.border>.post-item-wrap>.post-item-description {
        padding: 10px !important;
    }

    p.head {
        font-size: 30px !important;
        font-weight: bold !important;
        line-height: 1.2px !important;
        margin-top: 28px !important;
    }

    p.size1 {
        font-size: 19px !important;
        text-align: left;

    }

    p.size {
        font-size: 18px !important;
        text-align: center;
    }

    p.sizes {
        font-size: 18px !important;
        line-height: 1.0 !important;
        text-align: center;
    }

    .hu {
        padding-top: 55px !important;
        padding-bottom: 50px !important;
    }

    h3.menus {
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
    }

    h1.headerpro {
        font-size: 28px;
        margin-bottom: -20px;
        font-weight: bold;
    }

    h1.banner {
        padding-top: 140px;
    }


    .shap1 {
        width: 60%;
        height: 50%;
        margin: 9% 0 0 -40%;
        position: absolute;
    }

    .shap2 {
        width: 27%;
        height: 25%;
        margin: 20% 0 0 0;
        position: absolute;
    }

    .shap5 {
        width: 620px;
        height: 400px;
        background: #E8E3DF;
        display: block;
        margin: auto;
        margin-left: 10%;
    }

    .shap6 {
        background-color: #279b5d;
        width: 15px;
        height: 300px;
        position: relative;
        float: right;
        z-index: 10;
        margin-top: 50px;
        margin-right: -8px;
        opacity: 0.7;
    }
}

/* size-lg */
@media (min-width: 992px) and (max-width:1199px) {

    h2.headertitle {
        font-size: 1.78571429em;
        font-weight: 600;
    }

    #footer .copyright-content {
        font-size: 10px !important;
    }

    .circular--portrait {
        position: relative;
        width: 250px;
        height: auto;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--portrait img {
        width: 100%;
        height: 250px !important;
    }

    #mainMenu nav>ul>li .dropdown-menu>li>a,
    #mainMenu nav>ul>li .dropdown-menu>li>span,
    #mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a {}


    /* CSS */
    .button-new {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #045242;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-new:hover {
        background-color: #045242;
        border-color: #045242;
        color: #FFFFFF !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-new:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-service {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #fff;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #045242;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-service:hover {
        background-color: #045242;
        border-color: #045242;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-service:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-contact {
        appearance: none;
        background-color: #006fd6;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-contact:hover {
        background-color: #006fd6;
        border-color: #006fd6;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-contact:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .post-item.border>.post-item-wrap>.post-item-description {
        padding: 10px !important;
    }

    p.head {
        font-size: 30px !important;
        font-weight: bold !important;
        line-height: 1.2px !important;
        margin-top: 18px !important;
    }

    p.contactss {
        margin-bottom: 0;
        color: #fff;
    }

    p.size1 {
        font-size: 18px !important;
    }

    p.size {
        font-size: 18px !important;
        text-align: center;

    }

    .hu {
        padding-top: 40px !important;
        padding-bottom: 20px !important;
    }

    h1.banner {
        padding-top: 150px;
    }

    h1:not(:last-child),
    .h1:not(:last-child) {
        margin-bottom: 20px;
    }

    .shap1 {
        width: 60%;
        height: 50%;
        margin: 9% 0 0 -40%;
        position: absolute;
    }

    p.sizes {
        font-size: 12px !important;
        line-height: 1.0 !important;
        text-align: center;
    }

    .shap2 {
        width: 27%;
        height: 25%;
        margin: 20% 0 0 0;
        position: absolute;
    }

    .shap5 {
        width: 520px;
        height: 300px;
        background: #E8E3DF;
        display: block;
        margin: auto;
        margin-left: 10%;
    }

    .shap6 {
        background-color: #279b5d;
        width: 15px;
        height: 200px;
        position: relative;
        float: right;
        z-index: 10;
        margin-top: 50px;
        margin-right: -8px;
        opacity: 0.7;
    }
}

/* size-md */
@media (min-width: 768px) and (max-width:991px) {

    h2.headertitle {
        font-size: 1.5em;
        font-weight: 600;
    }

    .circular--portrait {
        position: relative;
        width: 180px;
        height: auto;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--portrait img {
        width: 100%;
        height: 180px !important;
    }

    #mainMenu nav>ul>li .dropdown-menu>li>a,
    #mainMenu nav>ul>li .dropdown-menu>li>span,
    #mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a {
        color: #fff !important;
    }

    /* CSS */
    .button-new {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #045242;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-new:hover {
        background-color: #045242;
        border-color: #045242;
        color: #FFFFFF !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-new:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }
    .button-service {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #fff;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #045242;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-service:hover {
        background-color: #045242;
        border-color: #045242;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-service:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-contact {
        appearance: none;
        background-color: #006fd6;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-contact:hover {
        background-color: #006fd6;
        border-color: #006fd6;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-contact:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }


    .post-item.border>.post-item-wrap>.post-item-description {
        padding: 10px !important;
    }

    h2.mobilesize {
        margin-top: 20px;
    }

    p.sizemenu {
        font-size: 18px !important;
        text-align: center;
    }

    h4.headers {
        font-size: 30px;
        text-align: center;
    }


    h4.contacts {
        color: #fff;
        margin-bottom: 0;
    }

    p.contactss {
        margin-bottom: 0;
        color: #fff;
    }

    p.head {
        font-size: 30px !important;
        font-weight: bold !important;
        margin-left: 60px !important;
        line-height: 1.2px !important;
        margin-top: 12px !important;
    }

    p.size1 {
        font-size: 30px !important;
    }

    p.size {
        font-size: 26px !important;
        line-height: 1.0 !important;
        text-align: center;
    }

    p.sizes {
        font-size: 28px !important;
        line-height: 1.0 !important;
        text-align: center;
    }

    .hu {
        padding-left: 0px !important;
        padding-top: 28px !important;
        padding-bottom: 20px !important;
        font-size: 30px !important;
    }

    h1.banner {
        padding-top: 40px;
    }

    h1:not(:last-child),
    .h1:not(:last-child) {
        margin-bottom: 20px;
    }

    .shap1 {
        width: 60%;
        height: 50%;
        margin: 9% 0 0 -30%;
        position: absolute;
    }

    .shap2 {
        width: 27%;
        height: 25%;
        margin: 20% 0 0 0;
        position: absolute;
    }

    .shap5 {
        width: 420px;
        height: 240px;
        background: #E8E3DF;
        display: block;
        margin: auto;
        margin-left: 2%;
    }

    .shap6 {
        background-color: #279b5d;
        width: 15px;
        height: 160px;
        position: relative;
        float: right;
        z-index: 10;
        margin-top: 40px;
        margin-right: -8px;
        opacity: 0.7;
    }
}

/* size-sm */
@media (min-width: 576px) and (max-width:767.98px) {

    h2.headertitle {
        font-size: 1.5em;
        font-weight: 600;
    }

    .circular--portrait {
        position: relative;
        width: 220px;
        height: 220px;
        overflow: hidden;
        border-radius: 50%;
    }

    .circular--portrait img {
        width: 100%;
        height: auto;
    }

    #mainMenu nav>ul>li .dropdown-menu>li>a,
    #mainMenu nav>ul>li .dropdown-menu>li>span,
    #mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a {
        color: #fff !important;
    }

    /* CSS */
    .button-new {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #045242;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-new:hover {
        background-color: #045242;
        border-color: #045242;
        color: #FFFFFF !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-new:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-service {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #fff;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #045242;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-service:hover {
        background-color: #045242;
        border-color: #045242;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-service:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-contact {
        appearance: none;
        background-color: #006fd6;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-contact:hover {
        background-color: #006fd6;
        border-color: #006fd6;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-contact:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    h4.headers {
        font-size: 16px;
        text-align: center;
    }


    .post-item.border>.post-item-wrap>.post-item-description {
        padding: 10px !important;
    }

    p.head {
        font-size: 30px !important;
        font-weight: bold !important;
    }

    p.size1 {
        font-size: 40px !important;
    }

    h4.contacts {
        color: #fff;
        margin-bottom: 0;
    }

    p.contactss {
        margin-bottom: 0;
        color: #fff;
    }

    p.sizemenu {
        font-size: 10px !important;
        text-align: center;
    }

    p.size {
        font-size: 20px !important;
        text-align: center;
    }

    .hu {
        padding-top: 30px !important;
        padding-bottom: 20px !important;
    }

    h1:not(:last-child),
    .h1:not(:last-child) {
        margin-bottom: 20px;
    }

    h2:not(:last-child),
    .h2:not(:last-child) {
        margin-top: 16px !important;
        margin-bottom: 0 !important;
    }

    .shap1 {
        width: 60%;
        height: 50%;
        margin: 9% 0 0 -40%;
        position: absolute;
    }

    .shap2 {
        width: 27%;
        height: 25%;
        margin: 20% 0 0 0;
        position: absolute;
    }
}

/* size-xs */
@media (max-width:575.98px) {

    h2.headertitle {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 0px;
    }

    #footer .copyright-content {
        font-size: 10px !important;
    }

    .circular--portrait {
        position: relative !important;
        width: 200px !important;
        height: auto !important;
        overflow: hidden !important;
        border-radius: 50% !important;
    }

    .circular--portrait img {
        width: 100% !important;
        height: 200px !important;
    }

    #mainMenu nav>ul>li .dropdown-menu>li>a,
    #mainMenu nav>ul>li .dropdown-menu>li>span,
    #mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a {
        color: #fff !important;
    }

    /* CSS */
    .button-new {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #045242;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-new:hover {
        background-color: #045242;
        border-color: #045242;
        color: #FFFFFF !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-new:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-service {
        appearance: none;
        padding: 10px 40px 10px 40px;
        background-color: #fff;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #045242;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-service:hover {
        background-color: #045242;
        border-color: #045242;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-service:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    .button-contact {
        appearance: none;
        background-color: #006fd6;
        border-radius: 100px;
        border-style: none;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system, sans-serif;
        font-size: 1.2rem;
        letter-spacing: -.24px;
        margin-top: 10px;
        outline: none;
        quotes: auto;
        text-align: center;
        text-decoration: none;
        transition: all .15s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .button-contact:hover {
        background-color: #006fd6;
        border-color: #006fd6;
        color: #fff !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        transform: scale(1.125);
    }

    .button-contact:active {
        transform: scale(1.025);
        color: #FFFFFF !important;
    }

    p.contactss {
        margin-bottom: 0;
        color: #fff;
    }

    h4.headers {
        font-size: 16px;
        text-align: center;
    }

    h4.contacts {
        color: #fff;
        margin-bottom: 0;
    }

    .button-73 {
        font-size: 18px;
        padding: .3rem 1rem;
    }

    .post-item.border>.post-item-wrap>.post-item-description {
        padding: 10px !important;
    }

    p.head {
        font-size: 30px !important;
        font-weight: bold !important;
    }

    p.size1 {
        font-size: 18px !important;
    }

    p.size {
        font-size: 16px !important;
        text-align: center;
    }

    p.sizemenu {
        font-size: 10px !important;
        text-align: center;
    }

    p.sizes {
        font-size: 11px !important;
        text-align: center;
    }

    .hu {
        padding-top: 30px !important;
        padding-bottom: 20px !important;
    }

    h1:not(:last-child),
    .h1:not(:last-child) {
        margin-bottom: 15px;
    }

    h2:not(:last-child),
    .h2:not(:last-child) {
        margin-top: 16px !important;
        margin-bottom: 0 !important;
    }

    .shap1 {
        width: 60%;
        height: 50%;
        margin: 9% 0 0 -40%;
        position: absolute;
    }

    .shap2 {
        width: 27%;
        height: 25%;
        margin: 20% 0 0 0;
        position: absolute;
    }
}

.sidebar-left .content {
    padding-left: 50px !important;

}

.sidebar {
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.077), 0 6px 20px 0 rgba(0, 0, 0, 0.077);
    background-color: #fff;
}

/*a:not(.btn):not(.badge):hover, a:not(.btn):not(.badge):focus, a:not(.btn):not(.badge):active {
    background-color:#F4AC00;
    border-color: #F4AC00;
    color:#fff;
    border-radius: 100px;
    padding: 10px;

}*/

.tags a {
    border-color: #F4AC00;
}

.tags a:hover,
.tags a:focus,
.tags a:active,
.tags a.active {
    background-color: #F4AC00;
    border-color: #F4AC00;
}

.flickity-button:hover {
    background-color: #D4BA7A;
}

.shapty {
    width: 27%;
    height: 25%;
    color: #fff;
}


/* .post-item img{
    border-top-left-radius:20px;
    border-top-right-radius:20px;
} */

.post-item.border .post-item-wrap {
    border-radius: 0px;
}



/* CSS */
.button-75 {
    appearance: none;
    background-color: #F4AC00;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    letter-spacing: -.24px;
    margin: 0;
    outline: none;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}



.containers {
    position: relative;
    width: 90%;
}

.images {
    display: block;
    width: 100%;
    height: auto;
}

.overlays {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;

    overflow: hidden;
    width: 0;
    height: 100%;
}

.containers:hover .overlays {
    width: 100%;
    left: 0;
}

.texts {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.post-item.border .post-item-wrap {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* CSS */
.button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #279b5d;
    text-decoration: underline
}

a:not([href]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):hover {
    color: inherit;
    text-decoration: none
}

#footer {
    background-color: #299B9B !important;
}



.bg {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top,
            #fff 0%,
            #fff 50%,
            #279b5d 50%,
            #279b5d 100%);
}



.shap3 {
    width: 90%;
    height: 180px;
    background: #E8E3DF;
    display: block;
    margin: auto;
}

.shap4 {
    background-color: #279b5d;
    width: 10px;
    height: 120px;
    position: relative;
    float: right;
    z-index: 10;
    margin-top: 30px;
    margin-right: -5px;
    opacity: 0.7;
}

#mainMenu.menu-rounded nav>ul>li>a {
    border-radius: 30px !important;
    border-width: 2px;
}

#mainMenu.menu-rounded nav>ul>li.current>a,
#mainMenu.menu-rounded nav>ul>li:hover>a,
#mainMenu.menu-rounded nav>ul>li:focus>a {
    background-color: #299B9B;
    color: #fff;
    /* padding-bottom: 1px; */
    /* border-bottom: 3px solid #F4AC00; */
    line-height: 15px;
}

#mainMenu nav>ul>li>a {
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 10px 12px;
    text-transform: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    color: #fff;
    border-radius: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    transition: all 0.3s ease;
    line-height: normal;
}

#topbar {
    background-color: #045242 !important;
    border-bottom: 0px;
}


.grid li {
    float: left;
    position: relative;
    width: 20%;
    padding: 1px;
}

.social-icons.social-icons-colored .social-facebook a,
.social-icons.social-icons-colored-hover .social-facebook a:hover {
    background-color: #5d82d1;
    /* color: white !important; */
}

.social-icons.social-icons-colored a,
.social-icons.social-icons-colored-hover a:hover {
    color: #fff !important;
    border: 0;
}

.social-icons.social-icons-medium li a {
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-size: 18px;
    background-color: #3C3C3C !important;
}


.sidebar .widget .post-thumbnail-list .post-thumbnail-entry img+.post-thumbnail-content {
    padding-left: 80px !important;
}



.cardshop {
    padding: 10px 20px 10px 20px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 120%;
    border-radius: 30px;
    margin-left: -20px;
    text-align: center;
}

.cardshopsize {
    padding: 10px 50px 10px 50px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 96%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.linetop {
    border-bottom: 3px solid #F4AC00;
}

.texters {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.texter {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.parallax-container {
    background-position: center !important;
}

button.btn.btn-outline:hover,
button.btn.btn-outline:focus,
button.btn.btn-outline:active,
button.btn.btn-outline.active,
.btn:not(.close):not(.mfp-close).btn-outline:hover,
.btn:not(.close):not(.mfp-close).btn-outline:focus,
.btn:not(.close):not(.mfp-close).btn-outline:active,
.btn:not(.close):not(.mfp-close).btn-outline.active,
a.btn:not([href]):not([tabindex]).btn-outline:hover,
a.btn:not([href]):not([tabindex]).btn-outline:focus,
a.btn:not([href]):not([tabindex]).btn-outline:active,
a.btn:not([href]):not([tabindex]).btn-outline.active {
    background-color: #D4BA7A !important;
    border-width: 2px;
    border-style: solid;
    border-color: #D4BA7A !important;
    color: #fff;
}

button.btn.btn-outline,
.btn:not(.close):not(.mfp-close).btn-outline,
a.btn:not([href]):not([tabindex]).btn-outline {
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #0a2946;
    color: #000;
}

.dark #header .header-inner,
.dark #header #header-wrap,
#header.dark .header-inner,
#header.dark #header-wrap {
    background-color: #5b5b5b;
}

#header .header-inner,
#header #header-wrap {
    background-color: #045242;
    margin-top: -3px;
}

.lines,
.lines:before,
.lines:after {
    background-color: #fff;
}

button.btn,
.btn:not(.close):not(.mfp-close),
a.btn:not([href]):not([tabindex]) {
    font-family: "Poppins", sans-serif;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    outline: none;
    padding: 12px 18px;
    position: relative;
    text-transform: uppercase;
    background-color: #045242 !important;
    border-color: #045242 !important;
    border-width: 1px;
    border-style: solid;
    color: #ffffff;
    transition: all 0.3s;
    margin-bottom: 6px;
    outline: none;
    line-height: 14px;
    cursor: pointer;
}



#mainMenu nav>ul>li .dropdown-menu>li>a:focus,
#mainMenu nav>ul>li .dropdown-menu>li>a:hover,
#mainMenu nav>ul>li .dropdown-menu>li>a:active,
#mainMenu nav>ul>li .dropdown-menu>li>span:focus,
#mainMenu nav>ul>li .dropdown-menu>li>span:hover,
#mainMenu nav>ul>li .dropdown-menu>li>span:active,
#mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a:focus,
#mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a:hover,
#mainMenu nav>ul>li .dropdown-menu>li [class*=col-]>ul>li>a:active {
    background-color: #299B9B;
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    padding-left: 20px;
}

button.btn.btn-white,
button.btn.btn-light,
.btn:not(.close):not(.mfp-close).btn-white,
.btn:not(.close):not(.mfp-close).btn-light,
a.btn:not([href]):not([tabindex]).btn-white,
a.btn:not([href]):not([tabindex]).btn-light {
    background-color: #fff !important;
    border-color: #e6e8eb;
    color: #045242;
    border-radius: 50px 50px 50px 50px;
}

button.btn.btn-white:hover,
button.btn.btn-white:focus,
button.btn.btn-white:active,
button.btn.btn-white.active,
button.btn.btn-light:hover,
button.btn.btn-light:focus,
button.btn.btn-light:active,
button.btn.btn-light.active,
.btn:not(.close):not(.mfp-close).btn-white:hover,
.btn:not(.close):not(.mfp-close).btn-white:focus,
.btn:not(.close):not(.mfp-close).btn-white:active,
.btn:not(.close):not(.mfp-close).btn-white.active,
.btn:not(.close):not(.mfp-close).btn-light:hover,
.btn:not(.close):not(.mfp-close).btn-light:focus,
.btn:not(.close):not(.mfp-close).btn-light:active,
.btn:not(.close):not(.mfp-close).btn-light.active,
a.btn:not([href]):not([tabindex]).btn-white:hover,
a.btn:not([href]):not([tabindex]).btn-white:focus,
a.btn:not([href]):not([tabindex]).btn-white:active,
a.btn:not([href]):not([tabindex]).btn-white.active,
a.btn:not([href]):not([tabindex]).btn-light:hover,
a.btn:not([href]):not([tabindex]).btn-light:focus,
a.btn:not([href]):not([tabindex]).btn-light:active,
a.btn:not([href]):not([tabindex]).btn-light.active {
    border-color: #e6e8eb;
    background-color: #045242 !important;
    color: #fff !important;
}
